* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 260px;
  height: 309px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 1px 30px 0px #555555;
  display: flex;
  flex-direction: column;
  padding: 8px;

  &:hover {
    cursor: pointer;
  }

  &:before ,
  &:after {
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100%) -7px -8px/16px 16px repeat-x;
  }

  &:before {
    top: -5px;
  }

  &:after {
    bottom: -6px;
    transform: rotate(180deg);
  }

  .right-border {
    position: absolute;
    width: 6px;
    right: -6px;
    top: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100%) -7px -8px/16px 16px repeat-y;
    transform: rotate(180deg);
  }

  .left-border {
    position: absolute;
    width: 6px;
    left: -6px;
    top: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100%) -7px -8px/16px 16px repeat-y;
  }

  .card-image {
    flex: 1 1 80%;
    margin: 0 auto;
    border-radius: 6px;
    background: #EF574B url('assets/img/bg.png') no-repeat center center;
    width: 100%;
    background-size: contain;

    img {
      max-width: 100%;
    }
  }

  .card-content {
    padding: 10px 2px;
    flex: 1 0 20%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 20px;

    #left-side {
      color: #EF574B;
      font-weight: 600;

      & > div:first-child {
        font-size: 0.7em;
      }

      & > div:last-child {
        font-size: 1em;
        color: #e53324;
      }
    }

    #right-side {
      display: flex;
      flex-wrap: wrap;
      width: 40px;
      font-size: 0.9em;
      font-weight: 600;
      color: #033803;

      & span {
        width: 20px;
        text-align: right;
      }
    }
  }

  .haft-sin-item {
    position:absolute;
    transition: all 0.4s;

    img {
      max-width: 60px;
    }

    &[data-name="seke"] {
      left: -80px;
      top: -30px;
    }

    &[data-name="mahi"] {
      left: 110px;
      top: -80px;
    }

    &[data-name="ayeneh"] {
      right: -80px;
      top: -40px;
    }

    &[data-name="sabzeh"] {
      left: -88px;
      top: 120px;
    }

    &[data-name="samanoo"] {
      right: -90px;
      top: 120px;
    }

    &[data-name="senjed"] {
      left: 48px;
      bottom: -80px;
    }

    &[data-name="sib"] {
      right: -115px;
      bottom: 16px;
    }

    &[data-name="sir"] {
      left: -88px;
      bottom: 15px;
    }

    &[data-name="tokhme-morgh-rangi"] {
      right: 50px;
      bottom: -80px;
    }
  }
}